@font-face {
  font-family: 'icomoon';
  src:url('font/icomoon.eot?-w1vs4');
  src:url('font/icomoon.eot?#iefix-w1vs4') format('embedded-opentype'),
    url('font/icomoon.woff?-w1vs4') format('woff'),
    url('font/icomoon.ttf?-w1vs4') format('truetype'),
    url('font/icomoon.svg?-w1vs4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}