@import "../lib/css/mixins-flex.less";

.transition() {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ==========================================================================
   Sommaire

   
   ========================================================================== */

/* ==========================================================================
   1 = User
   ========================================================================== */
   
.interface {
  width: 320px;
  margin: auto;
}   

.user {
  margin: 1.5em 0;
}

footer {
  padding: 3em 0;
}

.user-image {
  border: 5px solid #FFF;
  border-radius: 90px;
  width: 8em;
  height: 8em;
  position: relative;
  overflow: hidden;
  background: #CCC;
  margin: auto;
}

.user-menu {
  display: none;
}

.user-image:before {
  position: absolute;
  font-size: 6em;
  bottom: 0;
  left: 50%;
  margin-left: -0.5em;
  color: #444;
}

.user-pseudo {
  font-size: 2em;
  color: #FFF;
}

.user-name {
  color: #FFF;
  margin-top: -0.3em;
}

/* ==========================================================================
   2 = Apps
   ========================================================================== */

.apps {
  /*text-align: center;*/
  position: relative;
  z-index: 10;
  letter-spacing: -5px;
  /*padding-left: 15em;*/
}

.apps li {
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
  letter-spacing: normal;
}

.interface .apps .box {
  margin-bottom: 0;
  box-shadow:none;
}

.apps a {
  display: block;
  min-height: 2em;
  color: #FFF;
  font-size: 3em;
  /*width: 2.7em;
  height: 2.7em;
  font-size: 5em; 
  */
  padding: 0.2em 0.2em;
} 

.apps span {
  display: block;
  font-size: 0.3em;
  margin-top: -1.2em;
  margin-left: 0.2em;
}

.posf {
  position: fixed;
  top: 0;
  left: 0;
  width: 15em;
  height: 100%;
}

.application-window {
  font-size: 2em;
  color: #FFF;
  text-align: center;
  background: url(img/temp-apps.png) no-repeat;
  min-height: 786px;
  line-height: 786px;
  color: #333;
}

/* ==========================================================================
   Menu Apps
   ========================================================================== */

.container {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 0 ;
}

.menu-apps {
  /*.flex-display(flex);*/
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0,0,0,0.4);
  margin-left: 0;
  /*.flex-direction(column-reverse);*/
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  li {
    box-shadow: none;
    display: block;
    a {
      font-size: 2em;
    }
  }
  
  &.active {
    width: 5em;
    + .container {
      margin-left: 5em;
    }
  }
}

.appbtn {
}