/* ==========================================================================
   Sommaire

   
   ========================================================================== */

/* ==========================================================================
   1 = 
   ========================================================================== */

.user-image {
  border: 10px solid #409edd;
  border-radius: 90px;
  width: 8em;
  height: 8em;
  position: relative;
  overflow: hidden;
  background: #CCC;
  margin: auto;
}

.user-image:before {
  position: absolute;
  font-size: 6em;
  bottom: 0;
  left: 50%;
  margin-left: -0.5em;
  color: #444;
}

.user-pseudo {
  font-size: 2em;
  color: #409edd;
}

.user-name {
  color: #666;
  margin-top: -0.3em;
}

/* ==========================================================================
   2 = Apps
   ========================================================================== */

.apps {
  position: absolute;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  text-align: center;
  top: 10em;
}

.apps li {
  display: inline-block;
  margin-left: 1em!important;
  text-align: left;
}

.apps a {
  display: block;
  width: 2.7em;
  height: 2.7em;
  position: relative;
  color: #FFF;
  font-size: 5em; 
  padding: 0.5em 0.2em;
} 

.apps span {
  display: block;
  font-size: 0.3em;
  margin-top: -1.2em;
  margin-left: 0.2em;
}

.apps a:before {
  display: block;
  font-size: 6em;
  position: absolute;
  top: 0;
  font-weight: normal;
  right: 50%;
  margin:-0.5em -0.5em 0 0;
  color: #EEE;
}

.posf {
  position: fixed;
  top: 0;
  left: 0;
  width: 15em;
  height: 100%;
}